<nav class="breadcrumbs breadcrumbs-funnel" role="navigation" aria-label="breadcrumbs">
  <ul class="breadcrumbs__list list-unstyled">
    <li breadcrumbs-selector="1" class="breadcrumbs__item bread_data d-inline" sf-bread>
      <a class="breadcrumbs__link text-uppercase active-step" href="#" data_nav_step="1">{{ 'subscription_funnel_box.nav_step1' | t }}</a>
    </li>
    <li breadcrumbs-selector="2" class="breadcrumbs__item bread_data d-inline" sf-bread>
      <a class="breadcrumbs__link text-uppercase" href="#" data_nav_step="2">{{ 'subscription_funnel_box.nav_step2' | t }}</a>
    </li>
    <li breadcrumbs-selector="3" class="breadcrumbs__item bread_data d-inline" sf-bread>
      <a class="breadcrumbs__link text-uppercase" href="#"data_nav_step="3">{{ 'subscription_funnel_box.nav_step3' | t }}</a>
    </li>
    <li breadcrumbs-selector="4" class="breadcrumbs__item bread_data d-inline" sf-bread>
      <a class="breadcrumbs__link text-uppercase" href="#" data_nav_step="4">{{ 'subscription_funnel_box.nav_step4' | t }}</a>
    </li>
    <li breadcrumbs-selector="5" class="breadcrumbs__item bread_data d-inline" sf-bread>
      <a class="breadcrumbs__link text-uppercase" href="#" data_nav_step="5">{{ 'subscription_funnel_box.nav_step5' | t }}</a>
    </li>
  </ul>
</nav>