{% comment %} Choose a plan started {% endcomment %}
<summary>
  <div class="d-none mt-8 mt-lg-12" data-selector="4">
      <div class="row">
          <div class="col-lg-12 p-5 p-lg-8">
              {% if block.settings.heading != '' %}
                  <h2 class="text-center text-uppercase pb-1">
                      {{ block.settings.heading }}
                  </h2>
                  {% endif %}
                  {% if block.settings.subheading != '' %}
                    <h5 class="text-center">
                        {{ block.settings.subheading }}
                    </h5>
                    {% endif %}
              
          </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12 shadow p-5 p-lg-7">
            <h4>{{ 'subscription_funnel_box.delivery_details' | t }}</h4>
            <div>
              <input type="text" class="form-control" data-date_input aria-describedby="date" data-deliveryDate>
            </div>
        </div>
        <div class="col-lg-6 col-12 shadow  p-5 p-lg-7" data-summaryDetails>
            <div class="d-flex justify-content-between" data-productDetails>
              <div class="fw-bold"> 
              <span data-productTitle></span>
              <a href="#" class="fw-normal text-decoration-underline" data-nav_step="1">{{ 'subscription_funnel_box.edit' | t }}</a>
              </div>
              <div data-proPrice>
              </div>
            </div>
            <div data-productsSelected class="pt-3 pt-lg-4">
                <span class="fw-bold">{{ 'subscription_funnel_box.meals_selected' | t }} </span>
              <a href="#" class="fw-normal text-decoration-underline" data-nav_step="2">{{ 'subscription_funnel_box.edit' | t }}</a>
                <div data-selectedProductDetails>
                </div>
            </div>
            <div class="pt-3 pt-lg-4" data-addons>
              <span class="fw-bold">{{ 'subscription_funnel_box.addons' | t }}</span>
                  <a href="#" class="fw-normal text-decoration-underline" data-nav_step="3">{{ 'subscription_funnel_box.edit' | t }}</a>
                  <div class="d-block" data-addonDetails>
                  </div>
            </div>
            <div class="pt-3 pt-lg-4">
              <div class="d-block text-end"><span class="fw-bold">{{ 'subscription_funnel_box.subtotal' | t }}</span> <span data-totalPrice></span></div>
          </div>
        </div>
      </div>
      <div class="text-end">
        <a href="#" class="btn btn-primary mt-4" data-add_to_cart><span class="add-text">{{ 'subscription_funnel_box.checkout' | t }}</span><span class="spinner"></span></a>
      </div>
  </div>
</summary>